.center {
    text-align: center;
}

.center-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top:-40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.space-vert {
    margin-top: 20px;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 600px;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    padding-top: 50px;
}

/*products.aspx*/

.productView {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    font-family: sans-serif;
    color:#696e80;
} 

.probrand {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
} 
.proPrice {
    font-size: 14px;
    line-height: 17px;
    font-family: sans-serif;
    font-weight: 600;
}

.proOgPrice {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 400;
    text-decoration: line-through;
    color: gray;
}

.proPriceView {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    line-height:17px;
    margin-top:10px;
}
.proPriceDiscount {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: deeppink;
}

/*productview*/
.proNameView {
    font-size: 20px;
    line-height: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: #696e80;
}

.divDet1
{
    border-bottom:1px dashed #D5D6D8;
    margin-bottom:1px;
}
.mainButton
{
    border-radius:3px;
    outline:0;
    margin-top:10px;
    margin-bottom:20px;
    font-size:13px;
    min-height:22px;
    padding:10px 15px;
    min-width:108px;
    font-weight:500;
    background-color:#FF5722;
    color:#fff;
}

#btnCart {
    margin-right: 6px;
}

/*Cart*/
.proNameViewCart {
    font-size: 15px;
    line-height: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: #696e80;
}

.removeButton {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    font-size: 13px;
    min-height: 22px;
    min-width: 90px;
    font-weight: 500;
    background-color: #FF5722;
    border: 1px solid #FF5722;
    color: #fff;
}

.priceGray {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: dimgray;
}

.priceGreen {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    color: #20bd99;
}

.buyNowBtn {
    border-radius: 3px;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    min-height: 22px;
    padding: 10px 15px;
    font-weight: 500;
    background-color: #14cda8;
    border: 1px solid #14cda8;
    color: #fff;
    width: 100%;
}

.nb-footer{
  background: #272727;
  margin-top: 60px;
  padding-bottom: 30px;
}
.nb-footer .footer-single{
  margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
	text-decoration: none;
}

.nb-footer .footer-single h2{
    color: #eee;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li{
  border-top: solid 1px #353535;
}
.nb-footer .footer-single li:first-child{
  border-top: none;
}
.nb-footer .footer-single li a{
  color: #979797;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
  color: #7BFF00;
}
.nb-footer .footer-single li a:hover i{
  color: #7BFF00;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}

.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
  border: 1px solid #7BFF00;
  margin-top: 10px;
  color: #999;
}
.nb-footer .btn-footer:hover{
  background: #7BFF00;
  color: #fff;
  transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
  text-transform: uppercase;
}
.nb-footer .footer-project a{
  font-size: 13px;
}
.nb-footer .footer-project img{
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 1px;
  opacity: 0.7;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
  opacity: 1.0;
  cursor: pointer;
}
.nb-footer .footer-project .footer-title{
  margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #979797;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-copyright{
  background: #171717;
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
  margin-top: 22px;
  font-size: 14px;
}
.nb-copyright .copyrt a{
  color: #c1be9c;
}
.nb-copyright .footer-social{
	margin-top: 10px;
}
.nb-copyright .footer-social i{
  padding: 5px 10px;
  color: #999;
  border: 1px solid #333;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 5px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #7BFF00;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 14px;
}
@media(max-width: 767px){
	 .xs-center{
	text-align: center;
}
 .left-clear{
	padding-left: 0;
}
 .right-clear{
	padding-right: 0;
}
}